/*******************************************************************/
/* Licensed Materials - Property of IBM                            */
/*  (c) Copyright IBM Corp. 2003.  All rights reserved.            */
/*                                                                 */
/*  US Government Users Restricted Rights - Use, duplication or    */
/*  disclosure restricted by GSA ADP Schedule Contract with IBM    */
/*  Corp.                                                          */
/*                                                                 */
/*  DISCLAIMER OF WARRANTIES.  The following [enclosed] code is    */
/*  sample code created by IBM Corporation.  This sample code is   */
/*  not part of any standard or IBM product and is provided to you */
/*  solely for the purpose of assisting you in the development of  */
/*  your applications.  The code is provided "AS IS", without      */
/*  warranty of any kind.  IBM shall not be liable for any damages */
/*  arising out of your use of the sample code, even if they have  */
/*  been advised of the possibility of such damages.               */
/*******************************************************************/

/*--------------- Global, localizable styles ----------------------*/
/* IMPORTANT NOTE FOR TRANSLATOR:                                  */
/* Please modify the css attribute value ONLY.                     */
/*    Example 1:                                                   */
/*      Before: font-family: arial                                 */
/*      After : font-family: MingLiu                               */
/*    Example 2:                                                   */
/*      Before: font-size: 8pt                                     */
/*      After : font-size: 12pt                                    */
/*                                                                 */
/* "DON'T TRANSLATE" indicate field should not be changed.         */
/* Refer to css reference for each attribute value format.         */
/*-----------------------------------------------------------------*/

body, input, select, textarea, pre, button {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size : 8pt;
}

.s-ng-fsize {
	font-size: 8pt;
}  /*messagelist, contactlist , global action , toolbar submenu*/

.s-form-label, td.s-form-label {
	cursor: default; /* DON'T TRANSLATE */
	font-size: 8pt;
}  /*font size used in message editor , contact editor forms*/

.s-ng-formbg {
	background-color: #E0E0E0;
} /*Used for most forms/dialogboxes */

.s-ng-dlg-btn {
	background-color: #E0E0E0;
	overflow: visible; /* DON'T TRANSLATE.  Buttons expand for longer strings */
} /* dialog buttons */

.s-ng-dlg-btn-small {
	width: 70px;
	overflow: visible; /* DON'T TRANSLATE */
}  /* create buttons such as ok , cancel*/
