.basic {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.comingattractions {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.fineprint {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
