/***********************************/
/*** From old stylesheet.css *******/
/***********************************/

/********************************
 *	Faces Components Stylesheet *
 ********************************/

.form {
}

.commandExButton_Label {
	color: windowtext;
	text-align: center;
	vertical-align: middle;
}

.commandExButton_Disabled {
	color: GrayText;
} 

.inputText_Error {
	border-style: solid;
	border-color: #DE5C5C;
}

.selectOneRadio_Disabled {
	color: GrayText;
}

.selectManyCheckbox_Disabled {
	color: GrayText;
}


/*************************************
 *	Compound Component:  Action Bar  *
 *************************************/


.panelActionbar  A:link {
	text-decoration:none;
}

.panelActionbar  A:visited {
	text-decoration:none;
}

.panelActionbar  A:hover {
	text-decoration:underline;
}

.panelActionbar IMG {
	border:0;
}

.panelActionbar TD {
	padding:1;
}

/******************************************
 *	Compound Component:  Slider Dropdown  *
 ******************************************/

.inputText_Slider {
	background-color:buttonface;
	border:1px;
	border-style:solid;
	border-color:windowframe;
	font-family: sans-serif;
	font-decoration: none;
	color: windowtext;
}
.inputText_Slider_Body {
	background-color:buttonface;
	color: threedshadow;
	border-style:solid;
	border-color:threedhighlight;
	border-right-color:threedShadow;
}

/**********************************************
 *	Compound Component:  DatePicker Dropdown  *
 **********************************************/

.inputText_DatePicker {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px;
}

.inputText_DatePicker-Size {
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow;
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: window;
}

.inputText_DatePicker-HeaderLine1,
.inputText_DatePicker-HeaderLine2,
.inputText_DatePicker-HeaderWeekday, 
.inputText_DatePicker-HeaderYear,
.inputText_DatePicker-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderYear {
	color: WindowText;
	padding-top:2px;
	padding-bottom:1px; 
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.inputText_DatePicker-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px;
}

.inputText_DatePicker-Button {
	border: 0px;
	width:  12px;
	height: 12px;
}

.inputText_DatePicker-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px;
}

.inputText_DatePicker-OtherMonth,
.inputText_DatePicker-CurrentMonth,
.inputText_DatePicker-CurrentDay, 
.inputText_DatePicker-CurrentOtherDay, 
.inputText_DatePicker-InvalidDay, 
.inputText_DatePicker-Today,
.inputText_DatePicker-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	border-color: Window;
}
.inputText_DatePicker-CurrentMonth {
	color: WindowText;
	border-color: Window;
}

.inputText_DatePicker-CurrentDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface;
}

.inputText_DatePicker-Today {
	color: WindowText;
	font-weight: bold;
	background-color: Window;
	border-color: ButtonShadow;
}

.inputText_DatePicker-CurrentToday {
	color: HighlightText;
	font-weight: bold;
	background-color: Highlight;
	border-color: Window;
}

/*************************************
 *	Compound Component:  Data Grid   *
 *************************************/

.dataTable {
}

.headerClass {
	background-color: ThreeDFace;
	color: WindowText;
	border-width: 1px;
	border-style: solid;
	border-color: ThreeDShadow;
	margin:2px;
	padding:0px;
	padding-left:4pt;
	padding-right:4pt;
	padding-bottom:2px;
	font-weight: bold;
	text-align: left;
}

/*.headerClass {
/*	border-color: #BCC8D4;			/* $Color 12a */
/*	background-color: #D3E1ED;		/* $Color 11a */
/*	color: WindowText;
/*	border-width: 1px;
/*	border-style: solid;
/*	margin:2px;
/*	padding:0px;
/*	padding-left:4pt;
/*	padding-right:4pt;
/*	padding-bottom:2px;
/*	font-weight: bold;
/*	text-align: left;
/*}*/

.footerClass {
	background-color: #D3E1ED;		/* $Color 11a */
	color: WindowText;
	border-width: 0px;
	border-style: none;
	padding:0px;
	padding-left:4pt;
	padding-right:4pt;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
}

.rowClass1 {
	background-color:		/* $Color 14 */ white
}

.rowClass2 {
	background-color:		/* $Color 5  */ #809eba
}

.rowClass3 {
	background-color:	 #b5b5b5  /*old f1f2f2 */
}

.columnClass1 {
	font-weight:bold;
	/*background-color: #ffffff;		/* $Color 14 */
}


.columnClass2 {
	background-color: #f1f2f2;		/* $Color 5  */
}

.columnClass3 {
	font-weight:bold;
	padding-left: 3px;;
	padding-right: 3px;;
	border-left-width:
	
	/*background-color: #ffffff;		/* $Color 14 */ thin;
	border-left-style: solid;
	border-left-color: black
}

.columnClass4 {
	font-weight:bold;
	border-right: dotted;
	border-right-color: #809eba;
}

.columnClass5 {
	vertical-align: top;
}
.panelRowCategory {
}

.inputRowSelect {
	vertical-align: middle;;
	margin: 0px;
	margin-top: 1px;
	margin-left: 3px;
}

.commandExRowEdit {
}

.editStyleClass {
	background-color: Window;
	border-color: #809eba;			/* $Color 4  */
	border-style: solid;
	border-width: 1px;
	padding-bottom:4px;
	text-align:right;
}

.editStyleClass A {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	width:1px;
	height:1px;
}


.pagerSimple {
}

.pagerGoto {
}

.pagerWeb {
}

.outputStatistics {
}

.pagerDeluxe {
	border-color: #BCC8D4;			/* $Color 12a */
	border-width: 1px;
	border-style: solid;
}

.pagerDeluxe TD {
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: #809eba;			/* $Color 4  */
	border-left-color: #f6f6f6;		/* $Color 6  */
	border-top-color: #f6f6f6;		/* $Color 6  */
	border-style: solid;
	background-color: transparent;
}

.pagerDeluxe_button {
	padding: 0px;
	margin: 0px;
	width:  22px; 
	height: 19px; 
	background-color: ThreeDFace;
	border-style: solid;
	border-width: 1px; 
	border-color: Window; 
	font-size: 0px;
}

.pagerDeluxe_text {
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	padding-left:  8px;
	padding-right: 8px;
	margin: 0px;
	background-color: ThreeDFace;
	border-width: 0px; 
	border-style: solid;
	border-color: ThreeDFace;
	font-size: 13px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerDeluxe_button_twistie {
	color: #93acc4;					/* $Color 3  */
	border-color: #4d4d4d;			/* $Color 13 */
	list-style-type: none;
}

.commandButton {
	
}

.commandExButton_Icon {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_moused {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_depressed {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

commandExButton_Icon_disabled {
	text-align: left;
	margin-left: 4px;
	height: 17px;
	width: 17px
}

.commandExButton_Icon_NextBack {
	margin-right: 5px;
	margin-bottom: 3px;
	height: 26px;
	width: 76px;
}

.requestLink {
	
}

/* messages portlets */
.wasPortlet {
	margin-left:10px;
	margin-top:0;
}

.wpsPortletTitle {
	background-color:#5495D5;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:60%;
	text-align:left;
}

.wpsPortletTitleControls {
	background-color:#5495D5;
	border-bottom:1px solid #000000;
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	color:#FFFFFF;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:60%;
	text-align:right;
}

.wpsPortletArea {
	background-color:#FFFFFF;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	padding:0.75em;
}

.messagePortlet {
	background-color:#F7F7F7;
	border:1px solid #88A4D7;
}

.complex-property {
	font-family:Verdana,Helvetica,sans-serif;
	font-size:65%;
	padding-left:2.5em;
}

.expand-task {
	color:#000000;
	margin-bottom:2px;
	margin-top:2px;
	text-decoration:none;
}

.layout-manager {
	background-color:#FFFFFF;
	border-bottom:1px solid #88A4D7;
	border-left:1px solid #88A4D7;
	border-right:1px solid #88A4D7;
	min-width:600px;
}

.messageTitle {
	font-size:65%;
}

.instruction-text {
	background-color:#FFFFFF;
	font-family:Verdana,Helvetica,sans-serif;
	font-size:65%;
	font-weight:normal;
	margin-bottom:6px;
	margin-top:8px;
	padding-left:5px;
}
/* end of message portlet styles */

.outputLink {
	
}

.graphicImage {
	
}

.selectBooleanCheckbox_Error {
	
}

.selectOneRadio_Error {
	
}

.selectManyCheckbox_Error {
	
}

.selectOneListbox_Error {
	
}

.selectManyListbox_Error {
	
}

.selectOneMenu_Error {
	
}

.selectManyMenu {
	
}

.selectManyMenu_Error {
	
}

.panelGroup {
}

.inputText_DatePicker-Hover {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 0px;
	border-style: none;
	padding: 2px;
	padding-left: 3px;
	padding-right: 3px
}

.inputText_DatePicker-Hover {
	background-color: InactiveCaptionText
}

.inputText_DatePicker-Today A {
	border-color: Window;
	color: Window;
	background-color: ThreeDDarkShadow;
	font-weight: bold
}

.inputText_Typeahead {
	background-color: Window;
	border-width: 1px;
	border-style: solid;
	border-color: ThreeDDarkShadow
}

.inputText_Typeahead-List {
	background-color: Window;
	text-align: left;
	vertical-align: middle;
	height: auto;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 10pt;
	border-collapse: collapse
}

.inputText_Typeahead-Item {
	background-color: Window;
	color: WindowText;
	padding-left: 1pt;
	padding-right: 1pt
}

.inputText_Typeahead-Item-Selected {
	color: Window;
	background-color: Highlight;
	padding-left: 1pt;
	padding-right: 1pt
}

.inputText_Typeahead-Item a {
	text-decoration: none;
	color: WindowText
}

.inputText_Typeahead-Item-Selected a {
	text-decoration: none;
	color: Window
}

.dataTableEx {
	empty-cells: show
}

.pagerGoto_inputText {
	
}

.pagerDeluxeActive {
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-color: ThreeDShadow;
	border-style: solid;
	background-color: transparent
}

.pagerDeluxeHidden {
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	border-color: transparent;
	border-style: solid;
	background-color: transparent
}

.pagerDeluxeActive_button {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 19px;
	background-color: ThreeDFace;
	border-style: solid;
	border-width: 1px;
	border-color: Window;
	font-size: 13px
}

.pagerDeluxeHidden_button {
	padding: 0px;
	margin: 0px;
	width: 22px;
	height: 19px;
	background-color: transparent;
	border-style: solid;
	border-width: 0px;
	border-color: transparent
}

.pagerDeluxeActive_button_twistie {
	color: windowtext;
	border-color: windowtext;
	list-style-type: none
}

.sortHeader_sortasc-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_asc.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortascon-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_ascon.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortdesc-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_desc.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortdescon-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_descon.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 5px;
	border-style: none
}

.sortHeader_sortbi-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_bi.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortbiup-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_biup.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortbidown-img {
	background-image: url("/portaladmin/theme/img/JSF_sort_bidown.gif");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
	border-style: none
}

.sortHeader_sortasc {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortascon {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortdesc {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortdescon {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbi {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbiup {
	text-decoration: none;
	border: none;
	color: #000000
}

.sortHeader_sortbidown {
	text-decoration: none;
	border: none;
	color: #000000
}

.inputMiniCalendar {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px;
	width: 130pt
}

.inputMiniCalendar-Size {
	
}

.inputMiniCalendar-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow
}

.inputMiniCalendar-Body {
	border-width: 0px;
	border-style: none;
	background-color: window
}

.inputMiniCalendar-HeaderLine1 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderLine2 {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderWeekday {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderYear {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle
}

.inputMiniCalendar-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputMiniCalendar-HeaderYear {
	color: WindowText;
	padding-top: 2px;
	padding-bottom: 1px
}

.inputMiniCalendar-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px
}

.inputMiniCalendar-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px
}

.inputMiniCalendar-Button {
	border: 0px;
	width: 12px;
	height: 12px
}

.inputMiniCalendar-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px
}

.inputMiniCalendar-OtherMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentMonth {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentOtherDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-InvalidDay {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Today {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Hover {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
	border-color: window
}

.inputMiniCalendar-Hover {
	background-color: InactiveCaptionText;
	border-color: black
}

.inputMiniCalendar-OtherMonth {
	color: GrayText
}

.inputMiniCalendar-CurrentMonth {
	color: WindowText
}

.inputMiniCalendar-Today {
	border-color: Window;
	color: Window;
	background-color: ThreeDDarkShadow;
	font-weight: bold
}

.inputMiniCalendar-CurrentDay {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-CurrentToday {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-CurrentToday {
	font-weight: bold
}

.inputMiniCalendar-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight
}

.inputMiniCalendar-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface
}

.selectOneColor {
	
}

.selectOneColor_ColorPicker {
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	margin: 0px;
	padding: 0px
}

.selectOneColor_ColorPicker-Body {
	background-color: white;
	border-width: 0px;
	border-style: none;
	margin: 2px
}

.selectOneColor_ColorPicker-GridCell {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Selected {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover-Selected {
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	background-color: white
}

.selectOneColor_ColorPicker-GridCell-Hover {
	border-color: Highlight;
	background-color: InactiveCaptionText
}

.selectOneColor_ColorPicker-GridCell-Selected {
	border-color: Highlight;
	background-color: ThreeDLightShadow
}

.selectOneColor_ColorPicker-GridCell-Hover-Selected {
	border-color: black;
	background-color: InactiveCaptionText
}

.selectOneColor_ColorPicker-GridSwatch {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: ThreeDShadow;
	border-style: solid
}

.progressBar {
	width: 500px;
	height: 100px
}

.progressBar-Table {
	background-color: ThreeDFace;
	border-style: solid;
	border-width: 1px;
	border-color: windowtext
}

.progressBar-Message {
	color: windowtext;
	background-color: ThreeDFace;
	font-size: 20px
}

.progressBar-Bar {
	color: windowtext;
	background-color: blue;
	height: 20px
}

.progressBar-Bar_container {
	border-color: windowtext;
	border-style: solid;
	border-width: 1px
}

.progressBar-Bar_text {
	color: windowtext;
	background-color: transparent;
	height: 20px
}

.panelSection {
	
}

.panelSection-header {
	background-color: ThreeDFace;
	color: WindowText;
	border-width: 1px;
	border-style: solid;
	border-color: ThreeDShadow;
	font-weight: bold;
	text-align: left;
	
}

.panelSection-header img {
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 5px;	
}

.panelSection-header a {
	text-decoration: underline;
	color: black;
	vertical-align: bottom;
	line-height: normal;
	
}

.panelSection-header a:hover {
	
}

.panelSection-body {
	
}

.panelSectionWide {
	
}

.panelSectionWide-header {
	border-style: solid;
	border-width: 1px;
	border-color: black
}

.panelSectionWide-header a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%
}

.panelSectionWide-header a:hover {
	
}

.panelSectionWide-body {
	
}

.panelSection-V2 {
	
}
.panelSection-header-V2 {
	font-weight: bold;
	text-align: left;
	color: #5C6166;	
}

.panelSection-header-V2 a {
	text-decoration: none;
}

.panelSection-header-V2 a:hover {
	
}

.panelMenu {
	background-color: #E7E7E7
}

.panelMenu_1_div {
	
}

.panelMenu_1_table {
	font-family: sans-serif;
	font-size: 8pt
}

.panelMenu_1_cell_normal {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_disabled {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_selected {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_selected_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_normal {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_disabled {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_selected {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_selected_moused {
	padding: 2px;
	padding-left: 14px;
	padding-right: 32pt;
	text-align: left;
	background-color: #E7E7E7;
	border-width: 0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_1_cell_first_normal {
	border-left-width: 1px
}

.panelMenu_1_cell_first_disabled {
	border-left-width: 1px
}

.panelMenu_1_cell_first_moused {
	border-left-width: 1px
}

.panelMenu_1_cell_first_selected {
	border-left-width: 1px
}

.panelMenu_1_cell_first_selected_moused {
	border-left-width: 1px
}

.panelMenu_1_cell_moused {
	background-color: white
}

.panelMenu_1_cell_first_moused {
	background-color: white
}

.panelMenu_1_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_selected_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_1_item_disabled {
	color: gray
}

.panelMenu_2_div {
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: #ABABAB;
	margin: 0px;
	margin-left: -1px;
	margin-top: 1px
}

.panelMenu_2_table {
	color: WindowText;
	font-family: sans-serif;
	font-size: 8pt;
	text-decoration: none;
	border-width: 0px;
	border-style: none
}

.panelMenu_2_cell_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_last_selected.panelMenu_2_cell_last_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 14px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px
}

.panelMenu_2_cell_alt_normal {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_disabled {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_moused {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_selected {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_alt_selected_moused {
	padding-left: 10px;
	background-color: #E7E7E7
}

.panelMenu_2_cell_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_last_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_alt_moused {
	background-color: #c5c5c5
}

.panelMenu_2_cell_last_selected {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_selected_moused {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_normal {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_moused {
	border-bottom-width: 0px
}

.panelMenu_2_cell_last_disabled {
	border-bottom-width: 0px
}

.panelMenu_2_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_alt_selected {
	color: WindowText;
	text-decoration: none
}

.panelMenu_2_item_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_2_item_alt_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_2_arrow_normal {
	right: 4px;
	color: WindowText
}

.panelMenu_2_arrow_moused {
	right: 4px;
	color: WindowText
}

.panelMenu_2_arrow_disabled {
	right: 4px;
	color: gray
}

.panelMenu_2_separator {
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-left: 6px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px;
	background-color: #E7E7E7
}

.panelMenu_3_div {
	margin: 0px;
	margin-left: 2px;
	background-color: #E7E7E7;
	border-width: 1px;
	border-style: solid;
	border-color: #ABABAB
}

.panelMenu_3_table {
	margin: 0px;
	margin-top: 1px;
	color: WindowText;
	font-family: sans-serif;
	font-size: 8pt;
	text-decoration: none;
	border-width: 0px;
	border-style: none
}

.panelMenu_3_cell_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_normal {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_disabled {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_selected {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_alt_selected_moused {
	text-align: left;
	margin: 0px;
	padding: 2px;
	padding-left: 12px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-width: 1px
}

.panelMenu_3_cell_last_normal {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_disabled {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_moused {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_selected {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_last_selected_moused {
	border-style: none;
	border-bottom-width: 0px
}

.panelMenu_3_cell_moused {
	background-color: white
}

.panelMenu_3_cell_alt_moused {
	background-color: white
}

.panelMenu_3_cell_last_moused {
	background-color: white
}

.panelMenu_3_item_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_normal {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_moused {
	color: WindowText;
	text-decoration: none
}

.panelMenu_3_item_alt_normal {
	font-weight: bold
}

.panelMenu_3_item_alt_moused {
	font-weight: bold
}

.panelMenu_3_item_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_3_item_alt_disabled {
	color: gray;
	text-decoration: none
}

.panelMenu_3_arrow_normal {
	right: 4px;
	color: white
}

.panelMenu_3_arrow_moused {
	right: 4px;
	color: WindowText
}

.panelMenu_3_arrow_disabled {
	right: 4px;
	color: gray
}

.panelMenu_3_separator {
	text-align: left;
	margin: 0px;
	padding: 0px;
	padding-left: 6px;
	padding-right: 22pt;
	border-width: 0px;
	border-style: solid;
	border-color: #E5E5E5;
	border-bottom-width: 1px;
	background-color: white
}

.panelFormBox {	
	border-width: 1px;
	border-style: solid;
	border-color: #cecece;
	margin-bottom: 2px;
	margin-top: 1px;
	padding-left: 5px;
	padding-right: 3px;
	padding-top: 2px;
	
}

.panelFormBox_Header {
	font-weight: bold;
	font-size:   14pt;
	background-color: #ffffff ;	
}

.panelFormBox_Label {
}

.panelFormBox_Label-Required {
	
}

.panelFormBox_Label-Error {
	
}

.panelFormBox_Label-Required-Error {
	
}

.panelFormBox_Content {
}

.panelFormBox_Content-Error {
	
}

.panelFormBox_Info {
	
}

.panelFormBox_Error {
	
}

.panelFormBox_MessagesArea {
	
}

.panelFormBox_MessagesArea-Info {
	
}

.panelFormBox_MessagesArea-Error {
	
}

.panelFormBox_Label-Cell {
	font-weight: bold;
	font-size:   10pt;
	vertical-align:  top;
	color: black;
	
}

.panelFormBox_Help-Cell {
	
}

.panelFormBox_Content-Cell {
	vertical-align:  top;
}

.panelFormBox_Top-Cell {
	
}

.panelFormBox_Bottom-Cell {
	text-align: right;
	
}

.panelFormBox_Left-Cell {
}

.panelFormBox_Right-Cell {
	
}

.panelFormBox_Spacer-Cell {
	line-height: 3px;
}

.panelFormBox_Released {
	
}

.panelFormBox_Label-Released-Cell {
	
}

.panelFormBox_Help-Released-Cell {
	
}

.panelFormBox_Content-Released-Cell {
	
}

.panelDialog {
	position: absolute;
	background-color: #ffffff;
	border-width: 2px;
	border-color: #5F7BC7;
	border-style: solid
}

.panelDialog_TitleBar {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 2px;
	background-color: #1177cc;
	background-repeat: repeat-x;
	background-image: url("/portaladmin/theme/img/JSF_title_bar.gif");
	cursor: pointer
}

.panelDialog_TitleBar-CloseButton {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: default;
	border-style: none;
	border-width: 0px
}

.panelDialog_TitleBar-CloseButton-img {
	background-image: url("/portaladmin/theme/img/JSF_title_closebtn.gif");
	background-repeat: no-repeat;
	width: 16px;
	height: 14px;
	border-style: none;
	border-width: 0px
}

.panelDialog_ContentArea {
	font-family: sans-serif;
	font-size: 12px;
	padding: 2px;
	padding-top: 10px
}

.panelDialog_Footer {
	text-align: right;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	font-size: 12px
}

.inputHidden {
	
}


/***********************************************/
/****   Original C_stylesheet_blue.css   *******/
/***********************************************/


/********************************
 *	Faces Components Stylesheet *
 ********************************/

.commandExButton {
	background-color: #7a7a7a;		/* $Color 18 */
	color: #ffffff;					/* $Color 14 */
	border-width: 1px;
	border-style: solid;
	border-left-color: #949494;		/* $Color 11 */
	border-top-color: #949494;		/* $Color 11 */
	border-bottom-color: #616161;	/* $Color 12 */
	border-right-color: #616161;	/* $Color 12 */
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	padding: 0px 5px 0px;
}
.commandExButton_Label {
	color: #ffffff;					/* $Color 14 */
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.commandLink {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
}

.outputLinkEx {
	color: #426696;					/* $Color 9  */
	text-decoration: none;
}

.graphicImageEx { border-width: 0; }
.graphicImageEx_inline_left  { border-width: 0; padding: 0px; margin: 3px 10px 0px 0px; }
.graphicImageEx_inline_right {	border-width: 0; padding: 0px; margin: 3px 0px 0px 10px; }

.outputLabel {
}

.inputText {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.inputText_Disabled {
	background-color: #f8f8f8;		/* $Color 6  */
	color: #cdcdcd;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;;
	border-width: 1px;
	border-color: #c7c7c7;
	border-style: solid
}

.inputText_Error {
	border: 1px solid #990000;		/* $Color 8 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.inputTextarea {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.inputSecret {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.outputText {
}

.outputText_Small {
	font-size: 12px;
}

.outputText_Med {
	font-size: 16px;
}

.outputText_Large {
	font-size: 24px;
}

.outputFormat {
}

.outputSeparator {
	height: 1px;
	color: #bebebe;					/* $Color 16 */
	margin-bottom: 2px;
	border-width: 0px;
	border-bottom-width: 1px;
}

.outputSeparator_thick {
	color: #bebebe;					/* $Color 16 */
	margin-bottom: 4px;
	height: 1px;
	border-color: #bebebe;			/* $Color 16 */
	border-width: 0px;
	border-bottom-width: 4px;
	border-style: solid;
}

.message {
	font-size: 11px;
	color: #de5c5c;
}

.messages {
	font-size: 12px;
	font-weight: bold;
	color: #de5c5c;
}

.selectBooleanCheckbox {
}

.selectBooleanCheckbox_Label {
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.selectOneRadio {
	margin: 0px; padding: 0px;
}

.selectOneRadio label {
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	margin-left: -5px;
}

.selectOneRadio_Disabled {
	color: GrayText;
}

.selectManyCheckbox {
}

.selectManyCheckbox label {
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	margin-left: -5px;
}

.selectManyCheckbox_Disabled {
	color: GrayText;
}

.selectOneListbox {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.selectManyListbox {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.0em;
	font-family: monospace;
	font-weight: bold;
	width: 200px; 
}

.selectOneMenu {
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
}

.fileupload {
	border: 1px solid #7a7a7a;		/* $Color 18 */
	background-color: #f6f6f6;		/* $Color 6  */
	color: #000000;					/* $Color 17 */
	font-size: 1.2em;
	padding-left: 3px;
}

.panelBox {
}

.panelLayout {
}

.panelGrid {
}

.jspPanel {
}

.playerGenericPlayer {
}

.playerFlash {
}

.playerShockwave {
}

.playerRealPlayer {
}

.playerMediaPlayer {
}

/*************************************
 *	Compound Component:  Action Bar  *
 *************************************/

.panelActionbar {
}

.panelActionbar A:link {
	text-decoration: none;
}

.panelActionbar A:visited {
	text-decoration: none;
}

.panelActionbar A:hover {
	text-decoration: underline;
}

.panelActionbar IMG {
	border: 0;
}

.panelActionbar TD {
	padding: 1;
}

/******************************************
 *	Compound Component:  Slider Dropdown  *
 ******************************************/

.inputText_Slider {
	background-color: #f1f2f2;		/* $Color 5  */
	border: 2px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4 */
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-decoration: none;
	color: #4d4d4d;					/* $Color 13 */
}

.inputText_Slider_Body {
	background-color: #809eba;		/* $Color 4  */
	color: #809eba;					/* $Color 4  */
	border-style: solid;
	border-color: #D3E1ED;			/* $Color 11a */
	border-right-color: #BCC8D4;		/* $Color 12a */
}

/**********************************************
 *	Compound Component:  DatePicker Dropdown  *
 **********************************************/

.inputText_DatePicker {
	background-color: #ffffff;		/* $Color 14 */
	border: 2px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4  */
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	color: #4d4d4d;					/* $Color 13 */
	padding: 2px;
	margin: 0px;
}

.inputText_DatePicker-Size {
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #809eba;			/* $Color 4 */
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: #ffffff;		/* $Color 14 */
}

.inputText_DatePicker-HeaderLine1,
.inputText_DatePicker-HeaderLine2,
.inputText_DatePicker-HeaderWeekday, 
.inputText_DatePicker-HeaderYear,
.inputText_DatePicker-HeaderMonth {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
	background-color: #f1f2f2;		/* $Color 5 */
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderYear {
	color: #4d4d4d;					/* $Color 13 */
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.inputText_DatePicker-HeaderMonth {
	color: #4d4d4d;					/* $Color 13 */
	padding-bottom: 3px;
}

.inputText_DatePicker-Button {
	border: 0px;
	width: 12px;
	height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
}

.inputText_DatePicker-HeaderWeekday {
	color: #809eba;					/* $Color 4 */
	background-color: #f6f6f6;		/* $Color 6 */
	font-size: 10px;
	padding-top: 1px;
	padding-bottom: 2px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #809eba;			/* $Color 4 */
	border-style: solid;
}

.inputText_DatePicker-OtherMonth,
.inputText_DatePicker-CurrentMonth,
.inputText_DatePicker-CurrentDay, 
.inputText_DatePicker-CurrentOtherDay, 
.inputText_DatePicker-InvalidDay, 
.inputText_DatePicker-Today,
.inputText_DatePicker-CurrentToday {
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
	vertical-align: bottom;
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;			/* $Color 14 */
	width: 21px;
	height: 23px;
	padding: 0px;
	padding-left: 4px;
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	background-color: #ffffff;		/* $Color 14 */
}

.inputText_DatePicker-CurrentMonth {
	color: #4d4d4d;					/* $Color 13 */
	background-color: #f1f2f2;		/* $Color 5  */
}

.inputText_DatePicker-CurrentDay {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

.inputText_DatePicker-CurrentOtherDay {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: #f6f6f6;		/* $Color 6 */
	border-color: #f6f6f6;			/* $Color 6 */
}

.inputText_DatePicker-Today {
	color: #4d4d4d;					/* $Color 13 */
	font-weight: bold;
	background-color: #bebebe;		/* $Color 16 */
}

.inputText_DatePicker-CurrentToday {
	color: #000000;					/* $Color 17  */
	border-color: #BCC8D4;			/* $Color 12a */
	background-color: #D3E1ED;		/* $Color 11a */
	font-weight: bold;
}

/*************************************
 *	Compound Component:  Data Grid   *
 *************************************/

.dataTable {
}

.pagerSimple {
	margin: 0px;
	padding: 0px;
}
.pagerSimple input {
	position: relative;
	top: 1px;
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}
.pagerSimple select {
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerGoto {
	margin: 0px;
	padding: 0px;
}
.pagerGoto > input {
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}
.pagerGoto span input {
	position: relative;
	top: 1px;
	margin: 0px;
	padding: 0px;
	color: #4d4d4d;					/* $Color 13 */
}

.pagerWeb {
	color: #4d4d4d;					/* $Color 13 */
}

.outputStatistics {
	color: #4d4d4d;					/* $Color 13 */
}

/********************************
 *	Tabbed Panel: Style 4		*
 *								*
 *	SlantActiveLeft = 0			*
 *	SlantInactiveLeft = 0		*
 *	SlantActiveRight = 0		*
 *	SlantInactiveRight = 0		*
 ********************************/
.tabbedPanel_4 {
	background-color: transparent;
	border-width: 0px; 
	padding: 0px;
	margin: 0px;
}
.tabbedPanel_4-Header {
	border-width: 0px; 
	border-bottom-width: 3px; 
	border-style: solid;
	border-color: #7D95B3;
	padding: 0px;
	padding-top: 4px;
	padding-left: 8px;
	margin: 0px;
}
.tabbedPanel_4-Header TABLE {
	margin-right: 2px
}
.tabbedPanel_4-TabActive, .tabbedPanel_4-TabInactive {
	font-family: sans-serif; 
	font-size: 10pt;
	text-decoration: none;
	border-width: 0px;
	border-bottom-width: 2px;
	border-style: solid; 
	padding: 5px; 
	padding-top: 3px;
	padding-bottom: 3px; 
}
.tabbedPanel_4-TabActive {
	background-color: #7D95B3;
	border-color: #7D95B3; 
	color: window;
	font-weight: bold;
}
.tabbedPanel_4-TabInactive {
	background-color:#DEDEDE; 
	border-color: window; 
	color: windowtext;
	font-weight: 400;
}
.tabbedPanel_4-HyperActive {
	color: window;
	text-decoration: none;
}
.tabbedPanel_4-HyperInactive {
	color: windowtext;
	text-decoration: none;
}
.tabbedPanel_4-Body {
	background-color: transparent; 
	border-width: 0px;
	padding: 4px;
}
.tabbedPanel_4-Footer {
}
.tabbedPanel_4-Footer INPUT {
	margin: 0px;
	margin-left: 6px;
}
/*Use for getting all the system image icons*/
.tabbedPanel_4-classForTabSysIcons {
	/*Sample style, please uncomment the following line and modify the icons path if you want use your own customized system icons*/
	/*list-style-image:url("|previous=jsl/tab/icons/previous.gif|disprevious=jsl/tab/icons/previous_disabled.gif|next=jsl/tab/icons/next.gif|disnext=jsl/tab/icons/next_disabled.gif|");*/
}

.viewEdditingCampaignsDialogue {
	position: absolute;
	top: 150px;
	left: 450px
}

.topAlign {
	vertical-align: top; 
}

#nav {
	BACKGROUND-COLOR: #fff;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 160px;
	PADDING-RIGHT: 10px;
	FLOAT: left;
	/*BORDER-RIGHT: #666 1px dotted;*/
}

#leftNavList UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

#leftNavList LI {
	MARGIN: 0px
}

#leftNavList A {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #fff;
	TEXT-INDENT: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 155px;
	DISPLAY: block;
	COLOR: #00499a;
	BORDER-TOP: #333 1px dotted;
	TEXT-DECORATION: none;
	PADDING-TOP: 7px
}

#leftNavList A:hover {
	BACKGROUND-COLOR: #00529b;
	WIDTH: 155px;
	COLOR: #fff;
	BORDER-TOP: #000000 1px dotted
}

#active A {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #00529b;
	TEXT-INDENT: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 160px;
	DISPLAY: block;
	COLOR: #fff;
	BORDER-TOP: #666 1px dotted;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 7px;
}
