@CHARSET "UTF-8";

/******************************************
  Drop Down List Sample
  Specification file: dropdown
 ******************************************/

/*
 * This style applies to each item in the cell. (e.g., to the <a> tag)
 */
.dropdown1_item_normal {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	padding-right:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
    font-size: 12px;
}
