
/* Slider */

.dijitRtl .dijitSliderProgressBarH,
.dijitRtl .dijitSliderRemainingBarH,
.dijitRtl .dijitSliderLeftBumper,
.dijitRtl .dijitSliderRightBumper,
.dijitRtl .dijitSliderTopBumper {
	background-position: top right;
}

.dijitRtl .dijitSliderProgressBarV,
.dijitRtl .dijitSliderRemainingBarV,
.dijitRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}

.dijitRtl .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}

.dijitRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}

.dijitRtl .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
}

.dijitRtl .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
}
